body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.box {
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 40px 0;
  font-weight: bold;
}


.box1 { background-color: deepskyblue; }
.box2 { background-color: orangered; }
.box3 { background-color: royalblue; }
.box4 { background-color: gold; }
.box5 { background-color: blueviolet; }
.box6 { background-color: limegreen; }
.box7 { background-color: coral; }
.box8 { background-color: lightseagreen; }
.box9 { background-color: maroon; }

@media screen and (max-width: 658px) {
  .box1 { background-color: #ffcccc; }
  .box2 { background-color: #ff9999; }
  .box3 { background-color: #ff6666; }
  .box4 { background-color: #ffcc99; }
  .box5 { background-color: #ffff99; }
  .box6 { background-color: #ccff99; }
  .box7 { background-color: #99ffcc; }
  .box8 { background-color: #99ccff; }
  .box9 { background-color: #cc99ff; }
}
